@import "../../style/variable.scss";

.hide {
    display: none;
}

.button {
    border-radius: 10px;
    padding: 15px 30px;
}

.button.small {
    padding: 5px 10px;
}

.homepage {

    .banner {
        height: 100vh;
        background-color: $primary;
        display: flex;

        .text {
            width: 40%;
            padding: 140px 0px 0 90px;
            padding-left: 90px;
            position: relative;

            .rotate__image {
                width: 100px;
                position: absolute;
                top: 10px;
                left: 50px;
                animation: rotating 6s linear infinite;
            }

            h5 {
                color: $text;
            }

            h2 {
                font-size: 3rem;
                letter-spacing: 1px;

                span {
                    color: $text;
                }

                span::after {
                    content: '';
                    display: block;
                    font-size: 1rem;
                    position: absolute;
                    width: 214px;
                    height: 20px;
                    right: 40px;
                    background-image: url('https://template.hasthemes.com/edule/eduLe/assets/images/shape/shape-4.png');
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;

                }
            }

            p {
                line-height: 1.6;
                font-size: 1.3rem;
            }

            .button {
                position: relative;
                background-color: $text;
                color: $white !important;
                margin-top: 20px;
                font-weight: 500;
                font-size: 1.1rem;
                letter-spacing: 1px;
                overflow: hidden;
                z-index: 1;
            }

            .button::before {
                position: absolute;
                content: '';
                z-index: -1;
                top: 50%;
                left: 50%;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #212832;
                transform-origin: center;
                transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
                transition: transform 0.5s ease-in-out;
            }

            .button:hover::before{
                transform: translate3d(-50%,-50%,0) scale(15,15,15);
            }
        }

        .image {}

        .rating {}
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}