@import "../../style/variable.scss";

.hide {
    display: none;
}

.button {
    border-radius: 10px;
    padding: 15px 30px;
}

.button.small {
    padding: 5px 10px;
}

.homepage {
    position: relative;
    
    .rotate__image {
        width: 100px;
        position: absolute;
        top: 10px;
        left: 50px;
        animation: rotating 6s linear infinite;
        z-index: 2;
    }

    .banner {
        height: 700px;
        background-color: $secondary;
        display: flex;
        position: relative;

        .text {
            width: 40%;
            padding-top: 140px;
            position: relative;

            h5 {
                color: $primary;
            }

            h2 {
                font-size: 3rem;
                letter-spacing: 1px;

                span {
                    color: $primary;
                }

                span::after {
                    position: absolute;
                    content: '';
                    display: block;
                    font-size: 1rem;
                    width: 214px;
                    height: 20px;
                    right: 40px;
                    background-image: url('https://template.hasthemes.com/edule/eduLe/assets/images/shape/shape-4.png');
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            p {
                line-height: 1.6;
                font-size: 1.3rem;
            }

            .button {
                display: inline-block;
                position: relative;
                background-color: $primary;
                color: $white !important;
                margin-top: 20px;
                font-weight: 500;
                font-size: 1.1rem;
                letter-spacing: 1px;
                overflow: hidden;
                z-index: 1;
            }
            
            .button::before {
                position: absolute;
                content: '';
                z-index: -1;
                top: 50%;
                left: 50%;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: #212832;
                transform-origin: center;
                transform: translate3d(-50%, -50%, 0) scale3d(0, 0,0);
                transition: transform 0.5s ease-in-out;
            }

            .button:hover::before{
                transform: translate3d(-50%,-50%,0) scale3d(15,15,15);
            }
        }

        .image {
            position: absolute;
            bottom: 0;
            left: 45%;
            display: flex;
            align-items: flex-end;
            z-index: 2;
            img{
                width: 90%;
            }
        }

        .circle{
            position: absolute;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .arrow{
                position: absolute;
            }

            span,i{
                font-size: 2rem;
                font-weight: 600;
            }
        }

        .rating {
            background-color: #fff;
            top: 70px;
            right: 50px;

            span{
                font-size: 2rem;
                color: $primary;
                
                i{
                    font-size: 1rem;
                    color: $star;
                }
            }

            .arrow{
                bottom: -150px;
                animation: updown 2s linear infinite;
            }
        }
        
        .static{
            top: 28%;
            left: 50%;
            color: $white;
            background-color: $primary;

            .arrow{
                top: 10px;
                right: -100px;
                animation: leftright 2s linear infinite;
            }

            .pattern{
                position: absolute;
                bottom: -30px;
            }

            p{
                color: $white;
            }
        }

    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes updown {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(20px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes leftright {
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(20px);
    }

    100%{
        transform: translateX(0);
    }
    
}