@import "../../style/_variable.scss";

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: $secondary;
    padding: 2rem;
    border-radius: 1rem;
    @media screen and (min-width: 992px) {
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .search-bar{
        position: relative;
        display: flex;
        height: 100%;
        min-height: 70px;
        padding: .5rem .75rem;
        button{
            position: absolute;
            padding: 0;
            height: 40px;
            width: 40px;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        input{
            border-radius: .75rem;
        }
    }
    .nav-group {
        display: flex;
        flex-wrap: wrap;
        .btn-invert{
            border: 1px solid $light-grey;
            border-radius: .75rem;
        }
        >*{
            padding: .5rem .75rem;
        }
    }
    .active {
        padding: 1rem;
        border: 1px solid $primary !important;
        background-color: $primary;
        font-weight: 500;
        color: $white !important;
    }
}
.thumbnail {
    padding: 1.5rem;
    border: 1px solid $cream;
    border-radius: 1rem;
    transition: ease 0.3s;
    margin: 1rem 0;
    &:hover {
        border: 1px solid $primary;
    }
    .thumbnail-img {
        position: relative;
        min-width: 100%;
        img {
            border-radius: 1rem;
            margin-bottom: 1.5rem;
            min-width: 100%;
        }
        .more-toggle {
            position: absolute;
            top: 10px;
            right: 10px;
            color: $primary;
            background: $white;
            border-radius: 50rem;
            border: none;
            height: 36px;
            width: 36px;
            z-index: 1;
            i {
                line-height: 36px;
                font-size: 1.2rem;
            }
        }
        .more-tab {
            position: absolute;
            top: 28px;
            right: 28px;
            display: flex;
            flex-direction: column;
            padding: 0.75rem 1.5rem;
            background-color: $primary;
            font-size: 0.9rem;
            border-radius: 1rem;
            opacity: 0.9;
            a {
                padding: 0.2rem 0;
                color: $white !important;
                font-weight: 400;
                &:hover {
                    opacity: 0.7;
                }
                i {
                    font-size: 0.8rem;
                    margin-right: 0.8rem;
                }
            }
        }
    }

    .teacher-info {
        display: flex;
        margin-bottom: 0.75rem;
        .avatar {
            max-width: 52px;
            max-height: 52px;
        }
        > a {
            color: $grey !important;
            margin: 0 0.5rem;
            align-self: center;
            transition: ease 0.3s;
            &:hover {
                color: $primary !important;
            }
        }
    }
    .progress {
        height: 2px;
    }
}
