@import "../../style/_variable.scss";
.login-container{
    border: 1px $primary solid;
    border-radius: 0.5rem;
    .row{
        padding: 4rem;
        .login-image {
        padding: 2rem 2rem 0 2rem;
        border-radius: 1rem;
        background-color: $secondary;
            img{

            }
        }
        .login-form{
            margin-top: 35px;
            max-width:400px;
            margin-left: 20%;
            .title{
            position: relative;
            font-size: 40px;
            font-weight: 500;
            line-height: 1.4;
            padding-bottom: 10px;
            span{
                color: $primary;
            }
            span::before{
                position: absolute;
                content: '';
                background-image: url(https://template.hasthemes.com/edule/eduLe/assets/images/shape/shape-4.png);
                background-position: center center;
                background-size: cover;
                width: 121px;
                height: 13px;
                bottom: 10% ;
                left: 27% ;
                
            }
        }
            .form{
                .login-submit{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}


@media screen and (max-width:580px)
{
    .login-container{
        max-width:400px;
            .row{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                .login-image {
                padding: 1rem;
                border-radius: 1rem;
                background-color: $secondary;
                    img{
                       width: 80%;
                    }
                }
                .login-form{
                padding: 0;
                margin:auto;
                    .title{
                    
                    span::before{
                        display: none;
                    }
                }
            }
        }
    }
}
/*Mobile <740px*/
@media screen and (min-width:580px)  and (max-width:46.25em) {
        .login-container{
            .row{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                .login-image {
                padding: 1rem;
                border-radius: 1rem;
                background-color: $secondary;
                    img{
                       width: 80%;
                    }
                }
                .login-form{
                margin:auto;
                    .title{
                    
                    span::before{
                        width: 100px;
                        bottom: 10% ;
                        left: 25% ;
                        
                    }
                }
            }
        }
    }
}
/*Tablet width>=740px and width<1024px*/
@media screen and (min-width:46.25em) and (max-width:64em) {
    .login-container{
        max-width: 740px;
        .row{
            .login-form{
                .title{
                    font-size:35px;
                    span::before{
                        width: 100px;
                        height: 13px;
                        bottom: 10% ;
                        left: 40% ;
                    }
                }
            }
        }
    }
}
/*PC width>=1024px*/
@media screen and (min-width:64em) {
   .login-container{
       min-width: 1000px;
       max-width: 1100px;
   }
}
