@import "../../style/_variable.scss";
.login-container{
    border: 1px $primary solid;
    border-radius: 0.5rem;
    padding: 20px 70px 70px 70px;
    margin-top:180px;
    .row{
        .login-image {
        border-radius: 1rem;
        background-color: $secondary;
        padding: 45px 60px 0 60px;
        margin-top: 50px;
        }
        .login-form-wrapper {
            padding-top: 10%;
            .login-form{
            margin-top: 35px;
            
            .title{
                position: relative;
                font-size: 30px;
                font-weight: 500;
                line-height: 1.4;
                padding-bottom: 10px;
                span{
                    color: $primary;
                }
                span::before{
                    position: absolute;
                    content: '';
                    background-image: url(https://template.hasthemes.com/edule/eduLe/assets/images/shape/shape-4.png);
                    background-position: center center;
                    background-size: cover;
                    width: 121px;
                    height: 13px;
                    bottom: 10% ;
                    left: 15% ;
                    
                }
            }
            .form{
                .login-submit{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    
}
}

@media screen and (max-width:576px)
{
    .login-container{
        max-width: 510px;
        padding: 30px;
        .row{
            .login-form-wrapper{
                .login-form{
                    .title{
                        font-size:24px;
                        span::before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/*Tablet width>=740px and width<1024px*/
@media screen and (min-width:576px) and (max-width:768px) {
    .login-container{
        max-width: 510px;
        .row{
            .login-form-wrapper{
                .login-form{
                    .title{
                        font-size:24px;
                        span::before{
                            width: 100px;
                            height: 13px;
                            bottom: 8% ;
                            left: 12% ;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .login-container{
        max-width:690px;
        .row{
            .login-form-wrapper{
                .login-form{
                    .title{
                        font-size:35px;
                        span::before{
                            width: 100px;
                            height: 13px;
                            bottom: 10% ;
                            left: 15% ;
                        }
                    }
                }
            }
        }  
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .login-container{
        max-width: 930px ;
        .row{
            .login-image{
                padding: 15px;
            }
            .login-form-wrapper{
                .login-form{
                    padding: 15px;
                    margin-left : 0;
                    .title{
                        font-size:30px;
                        span::before{
                            width: 100px;
                            height: 13px;
                            bottom: 10% ;
                            left: 18% ;
                        }
                    }
                    .form{
                        .input{
                            padding: 0 25px;
                        }
                        .login-submit button{
                            font-size:18px
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:1200px)
{
    .login-container{
        max-width:1170px;
        .row{
            .login-form-wrapper{
                .login-form{
                    margin-left: 20%;
                }
            }
        }
    }
    
}